
.container{
    max-width: 1220px;
    margin: 0 auto;
}

.card{
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 14px;
}

.card img{
    width: 100px;
}

.card-body{
    padding: 10px;
}



.card_ota{
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 40px;
}
h1{
    text-align: center;

}